
* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
ul {
  margin: 0;
}

fieldset {
  border: none;
}